.bestForMonth {
    margin-top: 0;
}

.bestForMonth h2 {
    font-size: 27px;
}

.newContent {
    margin-bottom: 0;
}

.newContent .item {
    min-height: 400px;
}

.newContent h2 {
    margin-top: 30px;
}

.item img {
    height: auto;
}

.photoOfDay {

}

.photoOfDayColumn {
    width: 75%;
    padding-left: 15px;
    padding-right: 20px;
    position: relative;
    top: 15px;
}

.photoOfDayContent {}
.topLabel {
    position: absolute;
    background-color: #000000;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 3px 15px;
    left: 376px;
    font-family: 'ProximaNovaBold';
}
.phtoOfDayImg {}
.phtoOfDayImg img {
    width: 100%;
}
.photoOfDayContent .leftButton {
    width: 39px;
    position: absolute;
    background-color: #000000;
    color: #ffffff;
    font-family: 'ProximaNovaBold';
    text-align: center;
    top: 194px;
    font-size: 27px;
}
.photoOfDayContent .rigthButton {
    width: 39px;
    position: absolute;
    background-color: #000000;
    color: #ffffff;
    font-family: 'ProximaNovaBold';
    text-align: center;
    top: 194px;
    left: 796px;
    font-size: 27px;
}
.daysLine {
    margin-top: 30px;
}
.daysLineItem {
    display: inline-block;
    width: 30.9px;
    text-align: center;
    font-family: 'ProximaNovaBold';
    color: #bbbbbb;
}
.activeDay {
    width: 113px;
    text-transform: uppercase;
    color: #4eb700;
}
.headerPhotoOfDay {
    width: 520px;
    margin: auto;
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    font-family: 'MerriweatherRegular';
    margin-top: 20px;
    margin-bottom: 20px;
}
.headerPhotoOfDay span {}
.logoSeparator {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    margin: auto;
    background-image: url("../assets/img/greyPhotoLogo.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.socialMediaSubscribeContainer {
    text-align: center;
    font-size: 20px;
    font-family: 'ProximaNovaBold';
    margin-top: 20px;
}
.socialMediaSubscribeHeader {}
.socialMediaSubscribeHeader span {}
.socialMediaSubscribeButtons {
    height: 45px;
    width: 500px;
    background-color: #f0f0f0;
    margin: auto;
    margin-bottom: 20px;
}
.socialMediaSubscribeButtons div {
    height: 40px;
    display: inline-block;
    margin: 3px;
    border-radius: 2px;
    color: #fff;
    padding-top: 5px;
}
.socialMediaSubscribeButtons .like {
    width: 26%;
    background-color: #8597c8;
}
.socialMediaSubscribeButtons .facebook {
    width: 22%;
    background: none;
    background-color: #4c68b3;
}
.socialMediaSubscribeButtons .vk {
    width: 22%;
    background-color: #426b9a;
}
.socialMediaSubscribeButtons .twitter {
    width: 22%;
    background-color: #00abed;
}
.authorPhoto {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    color: #7a7a7a;
}
.photoTags {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000000;
    color: #7a7a7a;
}
.photoTags span {
    margin-right: 20px;
}
.recomindationArticle {
    width: 80%;
    margin: auto;
}
.recomindationArticle h2 {
    padding-left: 15px;
    text-transform: uppercase;
    font-family: 'ProximaNovaBold';
}
.recomindationArticleContent {}
.recomindationArticleItem {
    margin-bottom: 16px;
    padding-left: 30px;
    font-size: 15px;
    background-image: url("../assets/img/icon/videoGreen.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}
.recomindationArticleItem .header{}
.recomindationArticleItem .eye{}

@media (max-width: 992px) {
    .photoOfDayColumn {
        width: 100%;
    }
    .photoOfDayContent .rigthButton {
        left: 94%;
        /*right: 0px;*/
        top: 360px;
    }
    .photoOfDayContent .leftButton {
        top: 360px;
    }
    .phtoOfDayImg {
        padding-top: 130px;
    }
    .topLabel {
        left: 390px;
        background-color: #ffffff;
        color: #000;
        font-size: 40px;
        font-family: 'ProximaNovaBold';
        font-weight: bold;
    }
    .daysLine {
        margin-top: 30px;
        font-size: 30px;
        position: absolute;
        top: 35px;
    }
    .daysLineItem {
        width: 67px;
    }
    .daysLineItem.desctop {
        display: none;
    }
    .activeDay {
        width: 230px;
    }
    .headerPhotoOfDay {
        width: 80%;
        font-size: 55px;
        line-height: 55px;
        margin-top: 45px;
        margin-bottom: 50px;
    }
    .logoSeparator {
        width: 400px;
        height: 100px;
    }
    .socialMediaSubscribeContainer {
        margin-top: 30px;
        font-size: 40px;
    }
    .socialMediaSubscribeHeader {
        margin-bottom: 30px;
    }
    .socialMediaSubscribeButtons {
        height: 80px;
        width: 90%;
    }
    .socialMediaSubscribeButtons div {
        height: 70px;
        font-size: 40px;
    }
    .authorPhoto {
        display: none;
    }
    .photoTags {
        width: 85%;
        font-size: 25px;
        border-bottom: none;
    }
    .photoTags span {
        margin-right:35px;
    }
    .recomindationArticle {
        width: 90%;
    }
    .recomindationArticle h2 {
        padding-left: 0px;
        font-size: 45px;
    }
    .recomindationArticleContent {
        margin-top: 30px;
    }
    .recomindationArticleItem {
        height: 40px;
        padding-left: 59px;
        margin-bottom: 51px;
    }
    .recomindationArticleItem .header {
        font-size: 30px;

        line-height: 30px;
    }
    .recomindationArticleItem .eye {
        display: none;
    }
}






































