.articleInsideHeader {
    width: 100%;
    overflow: hidden;
}
.articleInsideHeader img {
    width: 100%;
}
.articleInsideHeader .itemContent {
    position: static;
    top: 20px;
    color: #000000;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 100px;
}
.articleInsideHeader .photoTags {
    border: none;
    text-align: center;
    margin-bottom: 0;
    font-size: 12px;

}
.articleInsideHeader .itemTitle {
    width: 500px;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
    color: #ffffff;
}
.articleInsideHeader .itemTitle span {
    font-size: 34px;
    text-align: center;
    font-family: 'MerriweatherRegular';
    line-height: 27px;
}
.articleInsideHeader .middleRow {
    left: calc(50% - 20px);
    max-width: 266px;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 25px;
}
.articleInsideHeader .middleRow div {
    display: inline-block;
}
.articleInsideHeader .itemLabel {
    width: 30px;
}
.articleInsideHeader .itemTags {
    width: 60px;
    margin: 0 auto;
    text-transform: uppercase;
}
.articleInsideHeader .itemTags span {
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 5px;
    color: #4eb700;
}
.articleInsideHeader .itemViews {
    width: 50px;
    margin: auto;
    text-align: right;
    color: #bbbbbb;
    background-image: url(../assets/img/icon/eye.png);
    background-repeat: no-repeat;
    background-position: 8px 9px;
    background-size: 12px;
}
.articleInsideHeader .itemViews span {
    font-size: 12px;
    font-weight: bold;
}
.articleInsideHeader .itemDate {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;
    color: #4eb700;
}
.articleInsideHeader .itemDescription {
    width: 494px;
    margin: auto;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'MerriweatherRegular';
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 30px;
    color: #ffffff;
}
.articleInsideHeader .itemDescription span {
    width: 212px;
    margin: auto;
    padding-bottom: 10px;
}


