@media (max-width: 992px) {
    .row {
        /*width: 100%;*/
    }
    .container {
        padding: 0;
        width: 100%;
        max-width: 100%;
        /*height: 100%;*/
    }
    .menuHeader {

    }
    .mainMenu {
        width: 125%;
    }
    .subMenu,
    .bunnerContainerFull,
    .newsContent,
    .proViewContent,
    .casesContent,
    .businessContent,
    .casesContentn {
        display: none;
    }
    #mainMenuContainer {
        background-color: #58b42b;
    }
    .menuItem {
        display: none;
        width: 10%;
    }
    .menuHeader {
        max-width: 90%;
        width: 90%;
    }
    .menuButton {
        background-color: #000000;
        color: #ffffff;
        width: 20%;
        height: 134px;
        justify-content: space-between;
        font-size: 88px;
        padding-left: 5.6%;
    }
    .menuHeader {
        background-color: #58b42b;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 41px;
        max-width: 80%;
        padding-top: 22px;
        color: #ffffff;
        line-height: 40px;
    }
    .menu {
        max-width: 70%;
        width: 70%;
    }
    .logo {
        flex: auto;
        width: 10%;
        max-width: 10%;
        height: 104px;
        margin: 15px;
        margin-left: 31px;
        background-color: #58b42b;
        background-image: url("../../assets/img/mainLogoWhite.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    .logo img {
        display: none;
    }
    .item {
        width: 100%;
        min-height: 459px;
        position: relative;
        padding-right: 0px;
        padding-top: 15px;
        margin-right: 0.01px;
    }
    .item img {
        width: 100%;
    }
    .item .topRow {
        left: calc(50% - 20px);
        max-width: 200px;
        margin: 0 auto;
        margin-bottom: 227px;
    }
    .double .itemContent {
        position: absolute;
        bottom: 40px;
        color: #ffffff;
        width: 100%;
    }
    .double .itemLabel {
        width: 45px;
    }
    .double .itemDate {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        margin-left: 10px;
    }
    .double .itemDate span {
        display: inline-block;
        margin-top: 10px;
        vertical-align: middle;
    }
    .double .topRow div {
        display: inline-block;
        align-items: center;
    }
    .double .itemTags {
        width: 17%;
        margin: 0 auto;
        text-transform: uppercase;
        font-size: 33px;
    }
    .double .itemTags span {
        background-color: #3a8700;
        font-size: 36px;
        font-weight: bold;
        padding: 1px 14px
    }
    .double .itemTitle {
        width: 95%;
        margin: auto;
        text-align: center;
        padding-bottom: 20px;
    }
    .double .itemTitle span {
        font-size: 65px;
        text-align: center;
        font-family: 'MerriweatherRegular';
        line-height: 61px;
    }
    .double .itemDescription {
        width: 95%;
        margin: auto;
        text-align: center;
        padding-bottom: 10px;
        font-size: 35px
    }
    .double .temDescription span {

    }
    .double .itemViews {
        width: 11%;
        height: 40px;
        margin: auto;
        text-align: right;
        background-image: url(../../assets/img/icon/eye.png);
        background-repeat: no-repeat;
        background-position: left 9px;
        background-size: 37px;
    }
    .itemViews span {
        font-size: 28px;
        font-weight: bold;
    }
    .item.single {
        margin-top: 45px;
        margin-left: 80px;
        margin-right: 70px;
    }
    .single .itemTitle {
        width: 90%;
        margin-top: 45px;
        line-height: 40px;
    }
    .single .itemTitle span {
        font-size: 43px;
        text-align: center;
    }
    .single .itemRow div {
        display: inline-block;
        align-item: left;
    }
    .single .itemTags {
        font-size: 30px;
        font-family: 'ProximaNovaBold';
        margin-right: 20px;
        color: #49b744;
        text-transform: uppercase;
    }
    .single .itemViews {
        color: #bbbbbb;
        width: 110px;
        text-align: right;
        background-image: url(../../assets/img/icon/eyeGrey.png);
        background-repeat: no-repeat;
        background-position: left 10px;
        background-size: 33px;
    }
    .single .itemViews span {

    }

    .bunnerContainer {
        display: none;
    }
    .vacansyContainer {
        border: 1px solid #60e100;
        min-height: 390px;
        padding: 60px;
    }
    .vacansyHeader {
        font-size: 30px;
    }
    .vacansyHeader i {
        color: #60e100;
        font-size: 20px;
        position: relative;
        bottom: 8px;
    }
    .vacansyHeader span {
        text-transform: uppercase;
        font-weight: bold;
        color: #009900;
        padding-left: 20px;
    }
    .vaconsyItem {
        width: 85%;
        padding: 45px 0;
        border-bottom: 4px solid #ebebeb;
        line-height: 45px;
    }
    .vaconsyItem span {
        font-size: 45px;
    }
    .vacansyPosition {
        color: #3a8700;
        font-weight: bold;
    }

    .item.medium {
        padding: 80px;
    }
    .medium .itemContent {
        position: absolute;
        bottom: 220px;
        color: #ffffff;
        width: 85%;
        padding-right: 15px;
    }
    .medium .topRow {
        left: calc(50% - 20px);
        max-width: 350px;
        margin: 0 auto;
        margin-bottom: 762px;
    }
    .medium .itemDate {
        width: 100%;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 29px;
        margin-bottom: 25px;
        text-align: center;
    }
    .medium .itemTitle {
        width: 90%;
        margin: auto;
        text-align: center;
        line-height: 42px;
        margin-bottom: 20px;
    }
    .medium .itemTitle span {
        font-size: 51px;
        text-align: center;
    }
    .medium .itemViews {
        font-family: 'ProximaNovaBold';
        width: 110px;
        margin: auto;
        text-align: right;
        background-image: url(../../assets/img/icon/eye.png);
        background-repeat: no-repeat;
        background-position: left 9px;
        background-size: 33px;
    }
    .medium .topRow div {
        display: inline-block;
        align-items: center;
        vertical-align: middle;
    }
    .medium .itemTags {
        margin-top: 10px
    }
    .medium .itemLabel {
        width: 70px;
    }
    .medium .itemTags span {
        font-family: 'ProximaNovaBold';
        font-size: 40px;
        text-transform: uppercase;
        padding-left: 20px;
    }


    .paginationContainer {
        margin: 0 auto;
    }
    .paginationContainer span {
        display: inline-block;
        width: 80px;
        height: 80px;
        color: #ffffff;
        font-size: 50px;
        font-weight: bold;
        background-color: #bababa;
        margin: 10px;
        margin-right: 0;
        padding-top: 2px;
        text-align: center;
    }
    span.activPage {
        background-color: #49a900;
    }
    span.nexPage {
        padding-top: 0px;
        font-size: 52px;
        background-color: #535353;
    }
    span.endPage {
        padding-top: 0;
        font-size: 52px;
    }

    .bestForMonth {
        position: relative;
        padding-top: 1130px;
    }
    .bestForMonth h2 {
        font-size: 50px;
        text-transform: uppercase;
        font-family: 'ProximaNovaBold';
        margin-left: 80px;
    }
    .bestMonthContainer {
        max-width: 100%;
        flex: 100%;
        padding-right: 70px;
        padding-left: 70px;
    }
    .bestMonthSingle {
        flex: 50%;
        width: 50%;
        max-width: 50%;
    }
    .bestMonthSingle .itemImg {}
    .bestMonthSingle .itemImg img {
        width: 100%;
    }
    .bestMonthSingle .itemTitle {
        font-size: 28px;
        line-height: 36px;
    }
    .bestMonthSingle .itemRow div {
        display: inline-block;
    }
    .bestMonthSingle .itemTags {
        margin-right: 10px;
        color: #49b744;
        text-transform: uppercase;
    }
    .bestMonthSingle .itemTags span {
        font-size: 25px;
        font-family: 'ProximaNovaBold';
    }
    .bestMonthSingle .itemViews {
        color: #bbbbbb;
        width: 97px;
        text-align: right;
        background-image: url(../../assets/img/icon/eyeGrey.png);
        background-repeat: no-repeat;
        background-position: left 14px;
        background-size: 27px;
    }
    .specialProgestContainer {
        position: absolute;
        left: 0px;
        top: 10px;
        max-width: 100%;
        min-height: 1030px;
        padding: 10px 60px;
    }
    .specialProgestContainer img {
        width: 100%;
    }
    .specialProgestContainer .itemContent {
        width: 87%;
        bottom: 60px;
    }
    .specialProgestContainer .topRow {
        text-align: center;
        margin-bottom: 500px;
    }
    .specialProgestContainer .itemTags {
        width: 100%;
    }
    .specialProgestContainer .itemDate {
        text-align: center;
    }
    .specialProgestContainer .itemViews {
        width: 14%;
        background-position: left 9px;
    }

    .specProgectContent {
        margin-top: 50px;
    }
    .specProgectContent img {
        width: 100%;
    }
    .specProgectContent .itemContent {
        display: none;
    }

    .socialMedia {
        flex: 100%;
        width: 100%;
        max-width: 100%;
        border-bottom: 4px solid #49b744;
    }
    .socialLabel {
        width: 200px;
        text-align: center;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 50px;
        font-size: 30px;
    }
    .socialButtonContainer {
        overflow: hidden;
        width: 37%;
        margin: auto;
        margin-bottom: 40px;
    }
    .socialButtonContainer div {
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-size: contain;
        float: left;
    }
    .facebook {
        background-image: url(../../assets/img/icon/facebookIcon.png);
        margin-right: 80px;
    }
    .tweeter {
        background-image: url(../../assets/img/icon/twetterIcon.png);
        margin-right: 100px;
    }
    .instagram {
        background-image: url(../../assets/img/icon/instagramIcon.png);
    }

    .footerLogo {
        display: none;
    }

    .subscribeContainer {
        flex: 100%;
        max-width: 100%;
        margin-top: 30px;
    }
    .subscriberLabel {
        margin-bottom: 10px;
        text-align: center;
        font-size: 30px;
    }
    .subsscribeContent {
        width: 90%;
        margin: auto;
        margin-bottom: 40px;
    }
    .subscribeInputText {
        width: 68%;
        height: 60px;
        margin: 10px;
        border: 2px solid #000000;
        font-size: 30px;
    }
    .subscribeButton {
        background-color: #000000;
        color: #ffffff;
        border: none;
        width: 29%;
        height: 60px;
        font-size: 30px;
    }
    .subscribeContentLibel {
        display: none;
    }
    .subscribeContentLibel span {
        color: #0f8000;
    }

    footer {
        background-color: #000000;
        color: #737d92;
    }
    .leftFooter {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 20px;
        text-align: center;
        max-width: 100%;
        flex: 100%;
    }
    .middleFooter {
        display: none;
    }
    .rightFooter {
        display: none;
    }

    .menuContent {
        display: none;
    }
    #popupSubscribe {
        display: none;
    }


    /* full menu */
    #fullMenu {
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background: #2b2d32;
        background-image: url("../../assets/img/fullMenuLogo.png");
        background-repeat: no-repeat;
        background-position: 20% top;
        z-index: 1100;
        border-bottom: 3px solid #14ab00;
    }

    .menuContent {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .fullmenuItem {
        cursor: pointer;
        color: #ffffff;
        font-family: 'ProximaNova-Regular';
    }

    .mainFullMenu {
        margin-top: 50px;
        font-size: 80px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'ProximaNovaBold';
    }

    .mainFullMenu .fullmenuItem {
    }

    .subFullMenu {
        margin-top: 40px;
        font-size: 40px;
        text-transform: uppercase;
    }

    .subFullMenu .fullmenuItem {
    }

    .litleFullMenu {
        margin-top: 40px;
        text-transform: uppercase;
        font-size: 25px;
    }

    .litleFullMenu .fullmenuItem {
    }

    .socialFullMenu {
        overflow: hidden;
        width: 255px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .socialFullMenu div {
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-size: contain;
        float: left;
    }

    .socialFullMenu .facebook {
        background-image: url("../../assets/img/icon/facebookIconWhite.png");
        margin-right: 44px;
    }

    .socialFullMenu .tweeter {
        background-image: url("../../assets/img/icon/twetterIconWhite.png");
        margin-right: 60px;
    }

    .socialFullMenu .instagram {
        background-image: url("../../assets/img/icon/instagramIconWhite.png");
    }

    .fixedMenu {
        position: fixed;
        top: 0px;
        z-index: 1000;
        max-width: 1140px;
        background-color: #ffffff;
    }
}
































